.container{
    width: 400px;
    margin: auto;
    margin-top: 10%;
}
.container h1{
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .input-group{
    padding: 0.5rem;
} */
.input-group input{
    width: 35vh;
    font-size: 1rem;
    border: none;
    padding: 0.5rem;
    outline: none;
}
.form-group input{
    width: 10vw;
    padding: 0.5rem;
    font-size: 1rem;
    overflow: hidden;
}
.row>ul>li{
    font-size: 1.6em;
    color: olive;
    line-height: 4vh;
}
.add_bar{
    background-color: white;
}